<div
    class="flex flex-col sm:flex-row items-center bg-white h-full w-full md:items-start sm:justify-center md:justify-start flex-auto min-w-0">
    <div
        class="md:flex md:items-center md:justify-center w-full sm:w-full md:h-full py-8 px-4 sm:p-12 md:p-16 sm:rounded-2xl md:rounded-none sm:shadow md:shadow-none sm:bg-card">
        <div class="w-full max-w-80 sm:w-80 mx-auto sm:mx-0">
            <div class="flex flex-auto flex-row justify-center items-center mb-18">
                <div class="w-12 md:w-20">
                    <img src="assets/favicon/fav-icon.png">
                </div>
            </div>
            <form class="mt-8" [formGroup]="signInForm">

                <mat-form-field class="w-full">
                    <mat-label>Username
                        <span class="text-red-600">*</span>
                    </mat-label>
                    <input id="email" matInput [formControlName]="'username'">
                    <mat-error *ngIf="signInForm.get('username').hasError('required')">
                        Username is required
                    </mat-error>
                    <mat-error *ngIf="signInForm.get('username').hasError('email')">
                        Please enter a valid email address
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="w-full">
                    <mat-label>Password
                        <span class="text-red-600">*</span>
                    </mat-label>
                    <input id="password" matInput type="password" [formControlName]="'password'" #passwordField>
                    <button mat-icon-button type="button" class="relative -top-2"
                        (click)="passwordField.type === 'password' ? passwordField.type = 'text' : passwordField.type = 'password'"
                        matSuffix>
                        <i class="fas fa-eye text-xl text-secondary"  *ngIf="passwordField.type === 'password'"></i>
                        <i class="fas fa-eye-slash text-xl text-secondary" *ngIf="passwordField.type === 'text'"></i>
                    </button>
                    <mat-error>
                        Password is required
                    </mat-error>
                </mat-form-field>
                <div class="flex flex-col flex-auto justify-center items-center gap-2">
                    <button class="primary-bg-color rounded-lg mt-12 min-h-0 h-9 w-1/2" mat-flat-button
                        (click)="signIn()">
                        <span>
                            Sign in
                        </span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>